/* Event css start */

  
  .main-div-k {
    margin-right: 70px;
  }
  .event-parent {
    margin-bottom: 30px;
  }
  .event-img1 {
    height: 10px;
    width: 10px;
    margin: 0 10px 4px 0;
  }
  .event-img2 {
    height: 12px;
    width: 12px;
    margin: 0 6px 4px 0;
  }
  .event-btn1 {
    background-color: var(--red);
    color: var(--body-bg-color);
    padding: 4px 40px;
    border-radius: 6.19px;
    font-size: 14px;
    font-weight: 500;
    height: 31px;
  }
  .event-btn1-child {
    background-color: var(--body-bg-color) !important;
    color: var(--red) !important;
    border: 1px solid var(--red);
    padding: 4px 32px;
  }
  .event-btn2 {
    padding: 0 10px;
    background-color: var(--red);
    border-radius: 6.19px;
    height: 31px;
  }
  .event-btn2 img {
    height: 16px;
    width: 16px;
  }
  .event-btn3 {
    background-color: var(--red);
    color: var(--body-bg-color);
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6.19px;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
  }
  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:active ~ .custom-control-label::before,
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
  .custom-control-input-green:not(:disabled):active
    ~ .custom-control-label::before {
    border-color: var(--red) !important;
  }
  
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:active ~ .custom-control-label::before,
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
  .custom-control-input-green:not(:disabled):active
    ~ .custom-control-label::before {
    background-color: var(--red) !important;
  }
  /* Event css end */
  
  /* Event details start */
  .eventList-parent {
    overflow-y: auto;
    padding-right: 10px;
  }
  .eventList-parent::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .eventList-parent::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 15px;
  }
  .eventList-main {
    margin-top: 17px;
  }

  .eventList-main:hover {
    cursor: pointer;
  }

  .eventList-child1 {
    padding: 5px 27px;
    background-color: var(--red);
    display: flex;
    color: var(--body-bg-color);
    height: 29px;
    font-size: 12px;
    border-radius: 12px 12px 0px 0px;
  }
  .eventList-time {
    letter-spacing: 1px;
  }
  .event-order-page .eventList-child2 {
    background-color: var(--skyblue);
    padding: 9px 17px;
    border-radius: 12px 0px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
  }
  .event-order-page .eventList-p1 {
    font-size: 12px;
    font-weight: 500;
  }
  .event-order-page .eventList-p2 {
    font-size: 14px;
    font-weight: 600;
  }
  .event-order-page.eventList-p3 {
    font-size: 15px;
    font-weight: 600;
    background-color: var(--body-bg-color);
  }
  .event-order-page .go-shadow-k {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
  }
  /* Event details end */
  
  /* Filter modal1 css start */
  .event-order-page .modal1-title {
    font-weight: 700;
    font-size: 21px;
  }
  .event-order-page .modal1.right .modal1-dialog {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    width: 350px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .event-order-page .modal1.fade.right .modal1-dialog {
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-in-out;
  }
  
  .event-order-page .modal1.fade.right.show .modal1-dialog {
    transform: translate3d(0, 0, 0);
  }
  
  .event-order-page .btn-close {
    --bs-btn-close-color: #000;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-left' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0'/%3e%3c/svg%3e");
    --bs-btn-close-opacity: 1.5;
    /* --bs-btn-close-hover-opacity: 0.75; */
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgb(255, 255, 255);
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--bs-btn-close-color);
    background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.375rem;
    opacity: var(--bs-btn-close-opacity);
  }
  .event-order-page .modal1-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .event-order-page .resetCSS {
    color: var(--red);
    font-weight: 500;
    font-size: 13px;
  }
  .event-order-page .modal1-p {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 8px 10px;
  }
  .event-order-page .modal1-search {
    width: 50%;
    border: 1.5px solid var(--filterBorder);
    border-radius: 5px;
    margin: 0 10px;
    padding: 0.4rem 0.8rem;
  }
  .event-order-page input.modal1-search::placeholder {
    /* color: #94a3b8 !important; */
    color: var(--eventD_placeholder);
    font-weight: 400;
  }
  
  .event-order-page .modal1-search-btn {
    background-color: var(--red);
    color: var(--body-bg-color);
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  .event-order-page .modal1-search-2 {
    width: 95%;
  }
  .event-order-page .modal1-switch {
    height: 20px !important;
    width: 40px !important;
    border: 1px solid var(--black);
  }
  
  /* Filter modal1 css end */
  
  /* Event css end  */
  
  /* Event Details start */
  .event-order-page .eventD-main {
    border: 1.5px solid #EEEEEEEE;
  }
  .event-order-page input.eventD-main::placeholder {
    color: var(--eventD_placeholder);
  }
  .eventD-top {
    border-bottom: 1px solid var(--red);
  }
  .event-order-page .eventD-forms {
    width: 175px;
    padding: 0.4rem 0.8rem 0.4rem 0.5rem;
    border: 1px solid var(--red) !important;
    border-radius: 4px;
  }
  .event-order-page select:required:invalid {
    color: var(--form-placeholder);
    font-size: 14px;
  }
  .event-order-page select,
  option {
    color: var(--red);
  }
  .event-order-page .eventD-date {
    border: 1px solid var(--red) !important;
    width: 200px;
    padding: 0.4rem 0.8rem 0.4rem 0.5rem;
    border-radius: 4px;
    margin-top: 8px;
  }
  .event-order-page .input-with-icon {
    position: relative;
  }
  .event-order-page .icon {
    position: absolute;
    right: 10px;
    top: 50.5%;
    transform: translateY(-50%);
    width: 15px;
    height: 16px;
  }
  .event-order-page .eventD-date input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  .event-order-page .eventD-formsP {
    color: var(--input-border);
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0 0 2px;
  }
  /* Event Details end */
  
  /* evet_BuyEvents start */
  .event-order-page .buyEvent-forms {
    border: 1px solid var(--input-border);
  }
  .event-order-page .buyEvent-th {
    width: 11%;
    color: var(--body-bg-color) !important;
    background-color: var(--red) !important;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    border-right: 2px solid var(--body-bg-color);
    border-bottom: 0 !important;
  }
  .event-order-page .buyEvent-td {
    font-size: 11px;
    font-weight: 400;
    border-top: 0;
    border-right: 2px solid #e5e5e5;
    text-align: center;
  }
  .buyEvent-mainBtn {
    border: 1px solid var(--red);
    margin: 10px 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 11px;
  }
  .buyEvent-mainBtn img {
    height: 12px;
    width: 12px;
    margin-bottom: 3px;
  }
  .buyEvent-p {
    color: var(--red);
  }
  
  .event-inputs {
    gap: 6%;
    align-items: center;
  }
  
  .styles_bottomNudge__FUsAV {
    display: flex;
    justify-content: end;
    gap: 12px;
    align-items: center;
  }
  
  .styles_bottomNudge__FUsAV .save-btn  {
    padding: 0.4rem 1rem;
    background: var(--red);
    box-shadow: 0px 2.1875243186950684px 0px 0px #0000000b;
    border-radius: 4px;
    color: var(--body-bg-color);
  }
  
  .styles_bottomNudge__FUsAV .cancel-btn  {
    border: 0.4px solid #8B0203;
    padding: 0.4rem 1rem;
    background: var(--body-bg-color);
    box-shadow: 0px 2.1875243186950684px 0px 0px #0000000b;
    border-radius: 4px;
    color: var(--black);
  }
  
  
  
  
  
  /* Events-Details-Participants start */
  .eventList-time-btn {
    background-color: var(--body-bg-color);
    font-size: 10px;
    font-weight: 500;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 0 10px 3px 10px;
  }
  .eventList-time-img {
  width: 20px;
  height: 20px;
  margin: 2px 6px 4px 0;
  }
  .event-participant-time {
    height: 34px!important;
  }
  .event-participant-cardHead {
    font-size: 13px;
    font-weight: 700;
  }
  /* .event-participant-cardBtn {
    background-color: var(--body-bg-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 5px 14px 5px 14px;
  } */
  .event-participant-btn {
    margin: 0 10px 0 0;
    padding: 5px 0px !important;
    height: 30px;
    /* width: 119px; */
    width: 10vw;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .event-participant-btn2 {
    margin: 0 10px 0 0;
    padding: 6px 20px;
    border: 1.5px solid var(--red) !important;
    font-size: 13px;
    font-weight: 500;
    height: 35px !important;
  }
  .event-participant-btn2-img {
    width: 20px !important;
    height: 20px !important;
  }
  .event-participant-btn:hover {
    border: 2px solid var(--red) !important;
  }
  .event-participant-btn:active {
    background-color: var(--red);
    color: var(--body-bg-color);
  }
  .event-participant-search {
    height: 22px !important;
    font-size: 13px;
    padding: 0 10px;
  }
  .event-participant-search-in {
    width: 20%;
    border: 1px solid var(--light-grey);
    background: url(../erp_event_module/img/search-dark.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-size: 6%;
    background-position-y: center;
    border-radius: 4px;
    padding: 2px 27px 2px 10px;
    font-size: 13px; 
  }
  .event-participant-search-in[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .event-participant-select {
  padding: 2px 5px;
  }
  .event-participant-select:required:invalid {
    font-size: 13px !important;
  }
  .event-participant-select,
  option {
    color: var(--red);
  }
  .participant-icon {
    width: 13px;
    height: 14px;
  }
  
  /* end */
  .participant-table {
    font-weight: 400;
    font-size: 13px;
  }
  .participant-table2 {
    text-decoration: none !important;
    font-size: 13px;
    color: #000;
    font-weight: 500;
  }
  .participants-table {
    overflow-y: auto;
    /* height: 300px; */
    height: 45vh;
    padding-right: 5px;
  }
  .participants-table::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .participants-table::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .table-top-list {
    padding-left: 60px;
  }
  .download-reportBtn {
    padding: 5px 27px;
    font-size: 13px;
    margin: 0 20px 0 0;
  }
  /* Events-Details-Participants end */
  
  /* Events-Details-Price trends start */
  .priceTrends-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--body-bg-color);
  font-size: 15px;
  }
  
  .priceTrends-list-main::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .priceTrends-list-main::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .priceTrends-list-parent {
    display: flex;
    margin-top: 20px;
  }
  
  .priceTrends-list-child {
  padding: 10px 131px 10px 10px;
  }
  /* .pageChange {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    right: 46px;
    background-color: var(--body-bg-color);
  } */
  /* .pagechange-child {
     width: 130px;
  } */
  .pagechange-child-a {
    color: var(--black) !important;
    font-size: 12px !important;
    font-weight: 500;
    text-align: center;
  }
  .pageChangeIMG {
    height: 10px;
    width: 10px;
  }
  /* Events-Details-Price trends end */
  
  /* Event details setting start */
  .event-setting-parent {
    height: 78vh;
    overflow-y: auto;
  }
  .event-setting-parent::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .event-setting-parent::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .setting-link {
    color: var(--black) !important;
    padding: 4px 20px !important;
    border: 0 0 1px solid var(--black) 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .setting-link.active {
    border-bottom: 2px solid var(--red) !important;
  }
  .event-setting-trMain {
    width: 100%;
    display: flex;
    /* padding: 5px 0; */
    margin-bottom: 10px;
  }
  
  .event-setting-child {
    width: 50% !important;
    padding: 0 20px 0 0 !important;
  }
  .event-settingChild-1 {
    display: flex !important;
    align-items: flex-start;
    padding: 0 !important;
  }
  .event-setting-p1 {
    font-size: 15px;
    font-weight: 400;
  }
  .event-setting-p2 {
    font-size: 13px;
    width: 55%;
  }
  .event-setting-radioP {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0 !important;
    width: 50%;
  }
  .eventSetting-radio {
    accent-color: var(--red);
  }
  /* Switch css */
  .form-switch .form-check-input {
    height: 18px;
  }
  /* switch css */
  /* Event details setting end */
  
  /* Event view by product start */
  
  .main-scroll-div::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .main-scroll-div::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .viewBy-main {
    margin: 1.5rem 0.1rem 0 0rem !important;
    display: flex;
    justify-content: space-between;
  }
  .viewBy-main-child2 .view {
    text-decoration: underline;
  }
  .viewBy-header {
    display: flex;
  }
  .viewBy-headerForm {
    height: 27px;
    padding: 2px 7px 3px 7px;
    border: 1px solid var(--red);
    border-radius: 4px;
    font-size: 12px !important;
    font-weight: 500;
    margin-right: 10px;
  }
  .buyEvent-forms-img {
    height: 10px;
    width: 10px;
  }
  .viewBy-zoom {
    display: flex;
    margin-left: 16px;
  }
  .viewBy-zoomIN,
  .viewBy-zoomOUT {
    border: 1px solid var(--light-grey);
    padding: 7px 10px 5px 10px !important;
    height: 27px;
    width: 36px;
  }
  .viewBy-zoomIN {
    border-radius: 10px 0 0 8px;
    border-right: 0 !important;
  }
  .viewBy-zoomOUT {
    border-radius: 0px 8px 8px 0;
  }
  .viewBy-zoomIN:active,
  .viewBy-zoomOUT:active {
    background-color: var(--light-grey);
  }
  .viewBy-headerFormP {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 10px;
  }
  .viewBy-main-child2 {
    display: flex;
    align-items: center;
  }
  .viewBy-main-child2P {
    font-size: 12px;
    font-weight: 400;
    margin: 0 5px 0 0;
  }
  .viewBy-main-child2-child {
    width: 48px;
    height: 27px;
    border-radius: 7px;
  }
  .viewBy-main-child2-child1,
  .viewBy-main-child2-child2,
  .viewBy-main-child2-child3,
  .viewBy-main-child2-child4 {
    cursor: pointer;
  padding: 3px 7px !important;
    border-radius: 7px;
    margin: 0 8px 0 0;
    text-align: center;
    font-size: 14px !important;
    padding-top: 2px;
  }
  
  .viewBy-main-child2-child1 {
    background-color: var(--grey);
    color: var(--body-bg-color);
  }
  
  .viewBy-main-child2-child2 {
    background-color: var(--sky-blue);
    color: var(--black);
  }
  
  .viewBy-main-child2-child3 {
    background-color: var(--white-grey);
    color: var(--black);
  }
  
  .viewBy-main-child2-child4 {
    background-color: var(--mid-light-grey);
    color: var(--body-bg-color);
  }
  
  .viewBy-main-child2-child1-img,
  .viewBy-main-child2-child2-img,
  .viewBy-main-child2-child3-img,
  .viewBy-main-child2-child4-img {
    margin: 0 4px 4px 0;
    height: 13px;
  }
  /* Event view by product table start */
   
  .viewBy-tHead {
    vertical-align: baseline;
    /* height: 30vh; */
    height: max-content!important;
    width: 20%;
    border: 1px solid var(--filterBorder);
  }
  .viewBy-tHead-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
  }
  .viewBy-tHead-heading-child {
    padding: 3px 6px ;
    border: 1px dashed var(--black);
    background-color: var(--light-grey);
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-right: 10px;
  }
  .viewBy-tHead-heading-child-span {
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .viewBy-tHead-heading-img {
    margin-right: 4px;
  }
  table{
    width: max-content !important;
  }
  .table > thead {
    z-index: 1111;
  }
  table th , table td{
    width: max-content;
  
  }
  table.table {
    width: 100% !important;
  }
  table tbody th{
    border: 1px solid #dfdfdf;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600 !important;
  }
  
  .viewBy-tHead-heading-p1 {
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    width: 130px;
  }
  .viewBy-tHead-heading-p2 {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: var(--blue_text);
  }
  .viewBy-tHead-heading-img2 {
    height: 25px;
    width: 20px;
  }
  .viewBy-tBody1-p {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  .viewBy-tBody1-1,
  .viewBy-tBody1-2,
  .viewBy-tBody1-3 {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  .viewBy-tBody1-1-active {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
    background-color: var(--filterBorder)!important;
  }
  .viewBy-tBody1-R {
    color: var(--blue_text);
    font-size: 14px;
    font-weight: 700;
    padding-right: 3px;
  }
  .viewBy-tBody2 {
    display: flex;
  }
  .viewBy-collapT1 {
    padding: 5px!important;
    background-color: var(--body-bg-color)!important;
    font-size: 14px!important;
    color: var(--black)!important;
    font-weight: 500;
  }
  .accordion-button::after {
    display: none!important;
  }
  .viewBy-collapT1-span {
    color: var(--light-grey)!important;
    padding-right: 10px;
  }
  .viewBy-tBody2-p {
    font-size: 13px;
    font-weight: 600;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  /* Event view by product table end */
  /* Event view by product end */
  .main-scroll-div {
    box-shadow: 0px 3px 8px 0px #0000003d;
    border-radius: 7px;
    padding: 0rem 1rem 1.5rem 1rem;
    height: 60vh;
    overflow-y:auto;
  }
  
  .Erp-overview table tr th,.Erp-overview table tr td{
    text-align: center;
  }
  /* event 1 css start */
  /* Event css start */

  .main-div-k {
    margin-right: 70px;
  }
  .event-parent {
    margin-bottom: 30px;
  }
  .event-img1 {
    height: 10px;
    width: 10px;
    margin: 0 5px 4px 0;
  }
  .event-img2 {
    height: 12px;
    width: 12px;
    margin: 0 6px 4px 0;
  }
  .event-btn1 {
    background-color: var(--red);
    color: var(--body-bg-color);
    padding: 4px 40px;
    border-radius: 6.19px;
    font-size: 14px;
    font-weight: 500;
    height: 31px;
  }
  .event-btn1-child {
    background-color: var(--body-bg-color) !important;
    color: var(--red) !important;
    border: 1px solid var(--red);
    padding: 4px 32px;
  }
  .event-btn2 {
    padding: 0 10px;
    background-color: var(--red);
    border-radius: 6.19px;
    height: 31px;
  }
  .event-btn2 img {
    height: 16px;
    width: 16px;
  }
  .event-btn3 {
    background-color: var(--red);
    color: var(--body-bg-color);
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 6.19px;
    height: 31px;
  }
  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:active ~ .custom-control-label::before,
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
  .custom-control-input-green:not(:disabled):active
    ~ .custom-control-label::before {
    border-color: var(--red) !important;
  }
  
  .custom-control-input:checked ~ .custom-control-label::before,
  .custom-control-input:active ~ .custom-control-label::before,
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
  .custom-control-input-green:not(:disabled):active
    ~ .custom-control-label::before {
    background-color: var(--red) !important;
  }
  
  /* Event css end */
  
  /* Event details start */
  .eventList-parent {
    overflow-y: auto;
    /* height: 300px; */
    height: 100%;
  }
  .eventList-parent::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .eventList-parent::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  /* .eventList-main {
    margin-top: 17px;
  } */
  .eventList-child1 {
    padding: 5px 27px;
    background-color: var(--red);
    display: flex;
    color: var(--body-bg-color);
    height: 29px;
    font-size: 12px;
    border-radius: 12px 12px 0px 0px;
  }
  .eventList-time {
    letter-spacing: 1px;
  }
  .eventList-child2 {
    background-color: var(--skyblue);
    padding: 9px 17px;
    border-radius: 12px 0px 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 8px;
    color: #000;
    transition: transform .5s;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
      content: '';
      opacity: 0;
      z-index: -1;
      border-radius: 12px 0px 12px 12px;
    }
  
    &:hover,
    &:focus {
      transform: scale3d(1.006, 1.006, 1);
  
      &::after {
        opacity: 1;
      }
    }
  }
  .eventList-p1 {
    font-size: 12px;
    font-weight: 500;
  }
  .eventList-p2 {
    font-size: 14px;
    font-weight: 600;
  }
  .eventList-p3 {
    font-size: 15px;
    font-weight: 600;
    background-color: var(--body-bg-color);
  }
  .go-shadow-k {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 10px;
  }
  /* Event details end */
  
  /* Filter modal1 css start */
  .modal1-title {
    font-weight: 700;
    font-size: 21px;
  }
  .modal1.right .modal1-dialog {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    margin: 0;
    width: 350px;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .modal1.fade.right .modal1-dialog {
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s ease-in-out;
  }
  
  .modal1.fade.right.show .modal1-dialog {
    transform: translate3d(0, 0, 0);
  }
  
  
  .modal1-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }
  .resetCSS {
    color: var(--red);
    font-weight: 500;
    font-size: 13px;
  }
  .modal1-p {
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 8px 10px;
  }
  .modal1-search {
    width: 70%;
    border: 1.5px solid var(--filterBorder);
    border-radius: 5px;
    margin: 0 10px;
    padding: 3px 8px;
  }
  input.modal1-search::placeholder {
    /* color: #94a3b8 !important; */
    color: var(--eventD_placeholder);
    font-weight: 400;
  }
  
  .modal1-search-btn {
    background-color: var(--red);
    color: var(--body-bg-color);
    font-size: 17px;
    border-radius: 5px;
    padding: 0 15px;
  }
  
  .modal1-search-2 {
    width: 95%;
  }
  .modal1-switch {
    height: 20px !important;
    width: 40px !important;
    border: 1px solid var(--black);
  }
  
  /* Filter modal1 css end */
  
  /* Event css end  */
  
  /* Event Details start */
  .eventD-main {
    border: 1.5px solid var(--eventD_border);
  }
  input.eventD-main::placeholder {
    color: var(--eventD_placeholder);
  }
  .eventD-top {
    border-bottom: 1px solid var(--red);
  }
  .eventD-forms {
    width: 175px;
    height: 30px;
    padding: 2px 5px 5px 5px;
    border: 1px solid var(--red);
    border-radius: 4px;
  }
  select:required:invalid {
    color: var(--form-placeholder);
    font-size: 14px;
  }
  .eventD-date {
    border: 1px solid var(--light-grey);
    width: 200px;
    height: 30px;
    border-radius: 4px;
    margin-top: 8px;
  }
  .input-with-icon {
    position: relative;
  }
  .icon {
    position: absolute;
    right: 10px;
    top: 50.5%;
    transform: translateY(-50%);
    width: 15px;
    height: 16px;
  }
  .event-btn3 a{
    color: var(--body-bg-color);
  }
  .eventD-formsP {
    color: var(--input-border);
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0 0 2px;
  }
  /* Event Details end */
  
  /* evet_BuyEvents start */
  .buyEvent-forms {
    border: 1px solid var(--input-border);
  }
  .buyEvent-th {
    width: 11%;
    color: var(--body-bg-color) !important;
    background-color: var(--red) !important;
    font-size: 10px;
    text-align: center;
    font-weight: 500;
    border-right: 2px solid var(--body-bg-color);
    border-bottom: 0 !important;
  }
  .buyEvent-td {
    font-size: 11px;
    font-weight: 400;
    border-top: 0;
    border-right: 2px solid #e5e5e5;
    text-align: center;
  }
  .buyEvent-mainBtn {
    border: 1px solid var(--red) !important;
    margin: 10px 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 11px;
    color: #000000 !important;
  }
  .buyEvent-mainBtn img {
    height: 12px;
    width: 12px;
    margin-bottom: 3px;
  }
  .buyEvent-p {
    color: var(--red);
  }
  /* evet_BuyEvents end */
  
  /* Events-Details-Participants start */
  .eventList-time-btn {
    background-color: var(--body-bg-color);
    font-size: 10px;
    font-weight: 500;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 0 10px 3px 10px;
  }
  .eventList-time-img {
    width: 20px;
    height: 20px;
    margin: 2px 6px 4px 0;
  }
  .event-participant-time {
    height: 34px !important;
  }
  .event-participant-cardHead {
    font-size: 13px;
    font-weight: 700;
  }
  .event-participant-cardBtn {
    background-color: var(--body-bg-color);
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    margin: 0 0 0 10px;
    padding: 2px 10px 2px 10px;
  }
  .event-participant-btn {
    margin: 0 10px 0 0;
    padding: 5px 0px !important;
    height: 30px;
    /* width: 119px; */
    width: 10vw;
    font-size: 12px !important;
    font-weight: 600 !important;
  }
  .event-participant-btn2 {
    margin: 0 10px 0 0;
    padding: 6px 20px;
    border: 1.5px solid var(--red) !important;
    font-size: 13px;
    font-weight: 500;
    height: 35px !important;
  }
  .event-participant-btn2-img {
    width: 20px !important;
    height: 20px !important;
  }
  .event-participant-btn:hover {
    border: 2px solid var(--red) !important;
  }
  .event-participant-btn:active {
    background-color: var(--red);
    color: var(--body-bg-color);
  }
  .event-participant-search {
    height: 22px !important;
    font-size: 13px;
    padding: 0 10px;
  }
  .event-participant-search-in {
    width: 20%;
    border: 1px solid var(--light-grey);
    background: url(../erp_event_module/img/search-dark.svg);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-size: 6%;
    background-position-y: center;
    border-radius: 4px;
    padding: 2px 27px 2px 10px;
    font-size: 13px;
  }
  .event-participant-search-in[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .event-participant-select {
    padding: 2px 5px;
  }
  .event-participant-select:required:invalid {
    font-size: 13px !important;
  }
  .event-participant-select,
  option {
    color: var(--red);
  }
  .participant-icon {
    width: 13px;
    height: 14px;
  }
  .dropdown-menu .dropdown-item{
    font-size: 13px;
  }
  .form-check-label{
    white-space: nowrap;}
  /* end */
  .participant-table {
    font-weight: 400;
    font-size: 13px;
  }
  .participant-table2 {
    text-decoration: none !important;
    font-size: 13px;
    color: #000;
    font-weight: 500;
  }
  .participants-table {
    overflow-y: auto;
    /* height: 300px; */
    height: 45vh;
    padding-right: 5px;
  }
  .participants-table::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .participants-table::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .table-top-list {
    padding-left: 60px;
  }
  .download-reportBtn {
    padding: 5px 27px;
    font-size: 13px;
    margin: 0 20px 0 0;
  }
  /* Events-Details-Participants end */
  
  /* Events-Details-Price trends start */
  .priceTrends-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: var(--red);
    color: var(--body-bg-color);
    font-size: 15px;
  }
  
  .priceTrends-list-main::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .priceTrends-list-main::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .priceTrends-list-parent {
    display: flex;
    margin-top: 20px;
  }
  
  .priceTrends-list-child {
    padding: 10px 131px 10px 10px;
  }
  .pageChange {
    position: fixed !important;
    bottom: 0;
    width: max-content;
    background-color: var(--body-bg-color);
    right: 4%;
  }
  /* .pagechange-child {
     width: 130px;
  } */
  .pagechange-child-a {
    color: var(--black) !important;
    font-size: 12px !important;
    font-weight: 500;
    text-align: center;
  }
  .pageChangeIMG {
    height: 10px;
    width: 10px;
  }
  /* Events-Details-Price trends end */
  
  /* Event details setting start */
  .event-setting-parent {
    height: 78vh;
    overflow-y: auto;
  }
  .event-setting-parent::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .event-setting-parent::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .setting-link {
    color: var(--black) !important;
    padding: 4px 20px !important;
    border: 0 0 1px solid var(--black) 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .setting-link.active {
    border-bottom: 2px solid var(--red) !important;
  }
  .event-setting-trMain {
    width: 100%;
    display: flex;
    /* padding: 5px 0; */
    margin-bottom: 10px;
  }
  
  .event-setting-child {
    width: 50% !important;
    padding: 0 20px 0 0 !important;
  }
  .event-settingChild-1 {
    display: flex !important;
    align-items: flex-start;
    padding: 0 !important;
  }
  .event-setting-p1 {
    font-size: 15px;
    font-weight: 400;
  }
  .event-setting-p2 {
    font-size: 13px;
    width: 55%;
  }
  .event-setting-radioP {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0 !important;
    width: 50%;
  }
  .eventSetting-radio {
    accent-color: var(--red);
  }
  /* Switch css */
  .form-switch .form-check-input {
    height: 18px;
  }
  /* switch css */
  /* Event details setting end */
  
  /* Event view by product start */
  
  .main-scroll-div::-webkit-scrollbar {
    width: 5px;
    margin-left: 5px;
  }
  .main-scroll-div::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 5px;
  }
  .viewBy-main {
    margin: 1.5rem 0.1rem 0 0rem !important;
    display: flex;
    justify-content: space-between;
  }
  .viewBy-header {
    display: flex;
  }
  .viewBy-headerForm {
    height: 27px;
    padding: 2px 7px 3px 7px;
    border: 1px solid var(--red);
    border-radius: 4px;
    font-size: 12px !important;
    font-weight: 500;
    margin-right: 10px;
  }
  .buyEvent-forms-img {
    height: 10px;
    width: 10px;
  }
  .viewBy-zoom {
    display: flex;
    margin-left: 16px;
  }
  .viewBy-zoomIN,
  .viewBy-zoomOUT {
    border: 1px solid var(--light-grey);
    padding: 2px 10px 5px 10px !important;    
    height: 27px;
    width: 36px;
  }
  .viewBy-zoomIN {
    border-radius: 10px 0 0 8px;
    border-right: 0 !important;
  }
  .viewBy-zoomOUT {
    border-radius: 0px 8px 8px 0;
  }
  .viewBy-zoomIN:active,
  .viewBy-zoomOUT:active {
    background-color: var(--light-grey);
  }
  .viewBy-headerFormP {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 10px !important;
  }
  .viewBy-main-child2 {
    display: flex;
    align-items: center;
  }
  .viewBy-main-child2P {
    font-size: 12px;
    font-weight: 400;
    margin: 0 5px 0 0;
  }
  .viewBy-main-child2-child {
    width: 48px;
    height: 27px;
    border-radius: 7px;
  }
  .viewBy-main-child2-child1,
  .viewBy-main-child2-child2,
  .viewBy-main-child2-child3,
  .viewBy-main-child2-child4 {
  
    border-radius: 7px;
    margin: 0 8px 0 0;
    text-align: center;
    font-size: 15px;
    padding-top: 2px;
  }
  
  .viewBy-main-child2-child1 {
    background-color: var(--grey);
    color: var(--body-bg-color);
  }
  
  .viewBy-main-child2-child2 {
    background-color: var(--sky-blue);
    color: var(--black);
  }
  
  .viewBy-main-child2-child3 {
    background-color: var(--white-grey);
    color: var(--black);
  }
  
  .viewBy-main-child2-child4 {
    background-color: var(--mid-light-grey);
    color: var(--body-bg-color);
  }
  
  .viewBy-main-child2-child1-img,
  .viewBy-main-child2-child2-img,
  .viewBy-main-child2-child3-img,
  .viewBy-main-child2-child4-img {
    margin: 0 4px 4px 0;
    height: 13px;
  }
  /* Event view by product table start */
  .viewBy-mainTable {
    width: 100%;
    margin-top: 24px;
  }
  .viewBy-tHead-heading {
    display: flex;
    align-items: start !important; 
    justify-content: center;
    margin-left: 15px;
    margin-top: 10px;
    padding-bottom: 12px;
  }
  
  .viewBy-tHead-heading-child-span {
    display: flex;
    align-items: center;
    margin: 5px 0 0 3px;
  }
  .viewBy-tHead-heading-img {
    margin-right: 4px;
  }
  .viewBy-tHead-heading-p1 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    width: 130px;
  }
  .viewBy-tHead-heading-p2 {
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    color: var(--blue_text);
  }
  .viewBy-tHead-heading-img2 {
    height: 25px;
    width: 20px;
  }
  .viewBy-tHead-btn:hover{
    color: var(--body-bg-color);
    background-color: var(--red);
  }
  
  .viewBy-tHead-btn {
    color: var(--black);
    background-color: var(--body-bg-color);
  
    margin-top: 6.1rem;
  
    border: 1px solid var(--red);
    border-radius: 7px;
    padding: 3px 50px;
    font-size: 13px;
    font-weight: 500;
  }
  .viewBy-tHead-btn2 {
    margin-top: 3rem;
  }
  .viewBy-bid-main {
    display: flex;
    justify-content: space-around;
    padding: 10px 0 10px 10px;
  }
  .viewBy-bid-main-p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
  }
  .viewBy-tBody1-p {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  .viewBy-tBody1-1,
  .viewBy-tBody1-2,
  .viewBy-tBody1-3 {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  .viewBy-tBody1-1-active {
    font-size: 13px;
    font-weight: 700;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
    background-color: var(--filterBorder)!important;
  }
  .viewBy-tBody1-R {
    color: var(--blue_text);
    font-size: 14px;
    font-weight: 700;
    padding-right: 3px;
  }
  .viewBy-tBody2 {
    display: flex;
  }
  .viewBy-collapT1 {
    padding: 5px!important;
    background-color: var(--body-bg-color)!important;
    font-size: 14px!important;
    color: var(--black)!important;
    font-weight: 500;
  }
  .viewBy-collapT1-span {
    color: var(--light-grey)!important;
    padding-right: 10px;
  }
  .viewBy-tBody2-p {
    font-size: 13px;
    font-weight: 600;
    border: 1px solid var(--filterBorder);
    padding: 5px 8px;
  }
  /* Event view by product table end */
  /* Event view by product end */
  
  /* event 1 css end */
   
   /* events.css start */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  } */
  
  a {
    text-decoration: none !important;
  }
  
  /* h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  
  p,
  span,
  div {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "vi-regular";
    src: url(/assets/fonts/Vi-Regular.otf);
  }
  
  @font-face {
    font-family: "vi-bold";
    src: url(/assets/fonts/Vi-Bold.otf);
  }
  @font-face {
    font-family: "vi-SemiBold";
    src: url(/assets/fonts/Vi-SemiBold.otf);
  }
  
  /* .ant-drawer-body {
    box-shadow: 0px 3px 8px 0px #0000003d;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin: 0 auto;
    height: 60vh;
    padding: 1rem 3rem;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0px 3px 8px 0px #0000003d;
  } */
  
  .event-order-page {
    /* overflow: auto;
    width: 100%;
    height: 87vh; */
    padding: 1rem 3rem 1rem 2rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
          right: -30px;
  
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-menu .dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  }
  
  .styles_auctionConfigContainer__huK3U {
    margin-bottom: 40px;
  }
  
  .ant-row {
    position: relative;
    height: auto;
    margin-right: 0;
    margin-left: 0;
    zoom: 1;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ant-form-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 24px;
    padding: 0;
    color: #334155;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    vertical-align: top;
  }
  
  
  .activity-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  
  .activity-item p {
    margin: 0;
    font-weight: 500;
  }
  
  .activity-item small {
    display: block;
    color: #777;
  }
  
  .activity-item small strong {
    color: #000;
  }
  
  
  
  
  
  
   .container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
  }
  
  .analytics .details, .quote, .time {
    margin-bottom: 20px;
  }
  
  .analytics label {
    font-weight: bold;
  }
  
  .analytics .details span, .details select {
    margin-right: 10px;
  }
  
  .analytics .quote div, .time div {
    display: inline-block;
    margin-right: 20px;
  }
  
  .analytics #container {
    height: 400px;
    margin-top: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  .ant-row:before,
  .ant-row:after {
    display: table;
    content: "";
  }
  
  .ant-col {
    position: relative;
    min-height: 1px;
  }
  
  .ant-form-item-label {
    display: inline-block;
    overflow: hidden;
    line-height: 39.9999px;
    white-space: nowrap;
    text-align: right;
    vertical-align: middle;
  }
  
  .ant-form-item label {
    position: relative;
  }
  
  .ant-form-item-label > label {
    color: #000000d9;
  }
  
  .ant-form-item-required:before {
    display: inline-block;
    margin-right: 4px;
    color: #ef4444;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
  
  .ant-form-item-label > label:after {
    content: ":";
    position: relative;
    top: -0.5px;
    margin: 0 8px 0 2px;
  }
  
  .ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
  }
  
  .ant-form-item-children {
    position: relative;
  }
  
  .pro-radio-tabs {
    display: grid;
    grid-gap: 8px 6px;
  }
  .pro-radio-tabs__tab__selected {
    border: 1px solid #8b0203 !important;
    background: rgba(19, 117, 228, 0.05);
  }
  
  .pro-radio-tabs__tab {
    outline: none;
    padding: 12px 24px 12px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .pro-radio-tabs__check-icon {
    line-height: normal;
    margin-right: 6px;
  }
  
  .ant-form-item label {
    position: relative;
  }
  
  .ant-radio-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 8px 0 0;
    padding: 0;
    color: #334155;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .ant-radio {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #334155;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    vertical-align: sub;
    outline: none;
    cursor: pointer;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ant-form-item .delivery {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }
  
  .ant-form-item .delivery .label-date {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 6px;
    width: 100%;
  }
  
  .ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 15px !important;
    height: 15px !important;
    background-color: #fff;
    border-color: #e2e8f0;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transition: all 0.3s;
  }
  
  .ant-radio-inner::after {
    position: absolute;
    top: 3px !important;
    left: 3px !important;
    display: table;
    width: 7.2px !important;
    height: 7.2px !important;
    background-color: var(--red);
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: " ";
  }
  
  @keyframes antRadioEffect {
    0% {
      visibility: visible;
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .ant-radio-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .ant-radio-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: var(--red); /* Use your desired color */
    border-radius: 50%;
    content: "";
    opacity: 0;
  }
  
  /* Hide the default radio button */
  
  .ant-radio-input:checked + .ant-radio-inner:after {
    opacity: 1;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: var(--red);
  }
  
  .ant-radio-checked .ant-radio-inner:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .ant-radio-checked::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--red);
    border-radius: 50%;
    visibility: hidden;
    animation: 0.36s ease-in-out 0s 1 normal both running antRadioEffect;
    content: "";
  }
  
  .ant-radio-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: " ";
  }
  
  /* // DELIVERY CSS */
  
  .delivery .ant-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 20px !important;
    height: 20px !important;
    background-color: #fff;
    border-color: #e2e8f0;
    border-style: solid;
    border-width: 1px;
    border-radius: 100px;
    transition: all 0.3s;
  }
  
  .delivery .ant-radio-inner::after {
    position: absolute;
    top: 4px !important;
    left: 4px !important;
    display: table;
    width: 10px !important;
    height: 10px !important;
    background-color: var(--red);
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: " ";
  }
  
  @keyframes antRadioEffect {
    0% {
      visibility: visible;
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .delivery .ant-radio-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .delivery .ant-radio-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: var(--red); /* Use your desired color */
    border-radius: 50%;
    content: "";
    opacity: 0;
  }
  
  /* Hide the default radio button */
  
  .delivery .ant-radio-input:checked + .ant-radio-inner:after {
    opacity: 1;
  }
  .delivery .ant-radio-checked .ant-radio-inner {
    border-color: var(--red);
  }
  
  .delivery .ant-radio-checked .ant-radio-inner:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  .delivery .ant-radio-checked::after {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--red);
    border-radius: 50%;
    visibility: hidden;
    animation: 0.36s ease-in-out 0s 1 normal both running antRadioEffect;
    content: "";
  }
  
  .delivery .ant-radio-inner:after {
    position: absolute;
    top: 3px;
    left: 3px;
    display: table;
    width: 8px;
    height: 8px;
    background-color: var(--red);
    border-top: 0;
    border-left: 0;
    border-radius: 8px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    transition: all 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    content: " ";
  }
  
  .time-range input {
    border: 1px solid #e2e8f0;
    padding: 5px 10px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
  .time-range {
    display: flex;
    align-items: center;
  }
  .time-range select {
    width: 100%;
    border: 1px solid #e2e8f0;
    padding: 5px 10px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
  .star-symbol {
    color: var(--lightred);
    margin-right: 0.5rem;
    font-size: 1.4rem;
    vertical-align: middle;
  }
  
  input.rank {
    padding: 5px 10px;
    border: 1px solid #e2e8f0;
    width: 51%;
  }
  /* .ant-radio-checked:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #1375e4;
      border-radius: 50%;
      visibility: hidden;
      -webkit-animation: antRadioEffect .36s ease-in-out;
      animation: antRadioEffect .36s ease-in-out;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      content: "";
  } */
  
  .styles_mainTabMenuOptions__41myZ {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .pro-body {
    font-size: 14px;
    line-height: 20px;
  }
  
  .pro-radio-tabs__tab {
    outline: none;
    padding: 12px 24px 12px 12px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .pro-radio-tabs__check-icon {
    line-height: normal;
    margin-right: 6px;
  }
  
  .ant-radio-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 8px 0 0;
    padding: 0;
    color: #334155;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: "tnum", "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .ant-form-item label {
    position: relative;
  }
  
  /* /// events Overview */
  
  /* .Erp-overview {
    width: 100%;
    height: 90vh;
    overflow-y: auto;
  } */
  
  .Erp-overview a {
    display: flex;
    align-items: center;
    gap: 12px;
  
    font-weight: 900;
  }
  .Erp-overview a span {
    border: 1px solid #e2e8f0;
    padding: 5px 8px;
  }
  
  .Erp-overview a span i {
    font-size: 12px;
  }
  
  .total-activity span {
    font-weight: 800;
  }
  
  .participate-sec {
    align-items: start;
    flex-direction: column;
    gap: 2rem;
  }
  
  .totals-activity,
  .rejected-bids {
    align-items: center;
    gap: 10rem;
  }
  
  .deafut-sec {
    align-items: center;
  }
  
  .saving-sec {
    flex-direction: column;
  
    gap: 7px;
  }
  
  .saving-ref {
    gap: 12px;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 1rem;
    /* padding-right: 2rem; */
    width: max-content;
    border: 2px solid #e2e8f0;
    flex-direction: column;
  }
  .default {
    justify-content: space-between;
    align-items: center;
  }
  
  .saving-ref span {
    font-weight: 700;
  }
  .saving-text {
    color: #8c8c8c;
  }
  .deafut-sec {
    justify-content: space-between;
  }
  
  .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-top:unset !important ;
    border-left:unset !important ;
    border-right:unset !important ;
  
  
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 0.25rem;
  }
  
  .btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: unset !important;
  }
  .accordion-button:focus {
    box-shadow: unset !important;
  }
  .card.card-body {
    padding: 2rem 2rem 2rem 3rem;
  }
  
  .saving-summary-btn{
    display: flex;
    justify-content: space-between;
  }
  
  
  
  
   /* events.css end */